﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}
/*
A {
	COLOR: #933; TEXT-DECORATION: none
}
A:link {
	COLOR: #006633; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006633; TEXT-DECORATION: none
}
A:active {
	COLOR: #006633; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline;
	color: #006633;
}
*/


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
	margin-left: 40px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

h7
{
    color: #4586a6;
    font-family: "標楷體";
    font-weight: bold;
    padding-left: 60px;
    margin-bottom: 10px;
}


/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
	position: relative;
    margin: 0px;
    padding: 0px;
    background-image: url('../Img/LGOG_new.png');
	top: 0px;
	left: 0px;
	height: 61px;
}

.header123
{
	position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    min-height: 490px;
    /*background-color:#415D8D*/
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #3a4f63;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.ann{overflow:hidden;height:20px;}
/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/
/*
.clear
{
    clear: both;
}
*/


.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/*
----------Table-------------------------*/
.TableStyle
{
	border-collapse: collapse;
	border: solid 0px dimgray;
	font-family: 微軟正黑體;
	font-size: small;
	
}

.TableStyle th
{
	text-align: right;
	background-color: #EEEEFC;
	border: solid 0px dimgray;
	padding-right: 6px;
	height: 27px;
}

.TableStyle td
{
	border: solid 0px dimgray;
	padding-left: 0px;
	text-align: left;
}

/*
---------------modalpopup---------------*/
.modalBackground
{
	background-color: White;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalPopup
{
	border: 3px solid White;
	background-color: White;
	padding: 3px;
}
/*
----------------div align margin -------------*/
.div_center
{
	text-align: center;
}

.div_right
{
	text-align: right;
}

.div_left
{
	text-align: left;
}

.div_top
{
	margin-top: 5px;
}

/*
------------popup----------------*/
.popup_outside
{
	border: solid 1px gray;
	background-color: LightBlue;
}

.popup_inside
{
	margin: 10px;
	background-color: White;
}

.Author
{
    padding-bottom: 6px;
    color: #635646;
    text-align: right;
}

.ImgMemo
{
    text-indent: 2em;
    min-height: 300px;
    font-size: 11pt;
    line-height: 1.8em;
    color: #635646;
    text-align: left;
	margin-left: 40px;
}

.ImgRight
{
    float: right;
    width: 20%;
    text-align: right;
}

.ImgLeft
{
    float: left;
    width: 100%;
}

.UDPage
{
    padding: 10px 25px 0px 30px;
    font-style: normal;
    font-weight: normal;
}
/*----- 圖片縮放用 -----*/
#demo
{
    text-align: center;
    padding: 4px;
}
li
{
    float: left;
    list-style-type: none;
}
#demo img
{
    border: none;
    width: 350px;
    height: 310px;
    border: 1px solid #c0c0c0;
    padding: 6px;
    margin: 3px;
    background-color: White;
}
#enlarge_images
{
    position: absolute;
    display: none;
    z-index: 2;
    border: 1px solid #c0c0c0;
    padding: 0 2px 0 0;
}
#enlarge_images img
{
    border: none;
    width: 350px;
    border: 1px solid #c0c0c0;
    padding: 6px;
    margin: 3px;
    background-color: White;
}
/*---------------------------*/